<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>homepage</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at dignissim metus. Sed congue ullamcorper sodales. Mauris molestie mauris vel lorem porttitor, sed vulputate nisi blandit. Aenean et vehicula mi, a pretium quam. Vivamus laoreet augue lorem, id blandit tortor feugiat non. Pellentesque eget scelerisque erat. Nunc ac enim eu nunc facilisis malesuada in ut tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer auctor sagittis blandit. Pellentesque volutpat turpis id purus semper eleifend.
    </p>
</body>
</html>